<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.payneteasy.example.app1"

          android:versionCode="101002"
          android:versionName="1.0-2">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature android:name="android.hardware.nfc" android:required="true"/>

    <application android:name="com.payneteasy.example.LocalApplication"
                 android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:theme="@style/Theme.Main"
                 android:allowBackup="false">


        <activity android:name="com.payneteasy.example.MainActivity" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.payneteasy.example.ReaderActivity" android:configChanges="orientation|keyboardHidden" />
    </application>
</manifest>
